<!DOCTYPE html>
<head> 
    {% load bootstrap4 %}   
    {% load widget_tweaks %}
    {% bootstrap_css %}   
    {% load static %}
  </head>
<body class="container">  
  <div>
    <form method="post" enctype="multipart/form-data">
      <h4> Task Description</h1>
        {% csrf_token %}
        {{ form.description|add_class:"form-control"|attr:"rows:3"  }}
        <div class="btn-group mt-2">
        <button type="submit" class="btn btn-outline-primary">Update</button>
        <a href="../" type="submit" class="btn btn-outline-danger">Cancel</a>
        </div>
    </form>
  </div>
    {% bootstrap_javascript jquery='full' %} 
</body>
</html>